.blog--post {
	@include outer-container;
	a {
		color: $color--red;
	}
	h2.author {
		margin-top: -.5em;
		margin-bottom: 2em;
		text-align: center;
		font-size: 1.5em;
		text-transform: uppercase;
	}
	article {
		margin-bottom: 50px;
		p {
			margin-bottom: 1em;
			b {
				font-weight: 600;
			}
		}
		h2 {
			margin-top: 2em;
			margin-bottom: 1em;
			font-weight: 600;
		}
		figure {
			width: 100%;
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}
}