<div id="header-wrapper">
	<header id="header" class="wrapper">

		<div class="header-line"></div>

		<div class="nav">
			<nav id="nav" class="container">
				<ul class="3u">
					<h1>General</h1>
					<li><a href="/hello">What is YRS?</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<ul class="3u">
					<h1>Get Involved</h1>
					<li><a href="/festival">Festival of Code</a></li>
					<li><a href="/hyperlocal">Hyperlocal</a></li>
					<li><a href="/everywhere">Everywhere</a></li>
					<li><a href="/ambassadors">Ambassadors</a></li>
				</ul>
				<ul class="3u">
					<h1>Social</h1>
					<li><a href="http://twitter.com/youngrewired">Twitter</a></li>
					<li><a href="http://facebook.com/youngrewired">Facebook</a></li>
					<li><a href="http://youtube.com/youngrewired">Youtube</a></li>
					<li><a href="http://instagram.com/youngrewired">Instagram</a></li>
					<li><a href="http://vine.co/youngrewired">Vine</a></li>
				</ul>
				<div class="headline">
					<h1>We're still in the process of building our website. <a href="mailto:hello@youngrewiredstate.org">Email us</a> if you cannot find what you need.</h1>
				</div>
			</nav>
		</div>

		<div class="visible">
			<div class="menu">
				<i class="fa fa-bars"></i>
				<span>Menu</span>
			</div>

			<!-- Logo -->
			<div id="logo">
				<a href="/">
					<img src="/static/images/logo-with-ruby.jpg">
				</a>
			</div>

			<div class="contact">
				<a href="http://twitter.com/youngrewired">
					<i class="fa fa-twitter"></i>
				</a>
			</div>
		</div>

	</header>
</div>