@media screen and (max-width:900px) {
	.contact {
		width: 90vw;
		padding-left: 5vw;
		padding-right: 5vw;
		.left,
		.right {
			@include span-columns(12);
			@include shift(0);
			text-align: center;
		}
	}
}