doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A global community of digital makers aged 18 and under.')
    meta(name='author', content= "Emma Mulqueeny")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Young Rewired State
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800', rel='stylesheet', type='text/css')

    != css()

  body
    block content

    != js()