.scheme {
	.copy {
		@include outer-container;
		p {
			margin-bottom: 2em;
		}
		img {
			width: 100%;
			margin-bottom: 2em; 
			border-radius: 6px;
		}
	}
	.cta {
		@include outer-container;
		margin-bottom: 50px;
		a {
			@include span-columns(12);
			background: $color--red;
			color: white;
			text-align: center;
			border-radius: 6px;
			padding: .75em 1em;
			&.disabled {
				background: $color--darkgrey; 
			}
		}
	}
}