.scheme {
	.copy {
		@include outer-container;
		p {
			margin-bottom: 2em;
		}
		img {
			width: 100%;
			margin-bottom: 2em; 
			border-radius: 6px;
		}
		a {
			color: $color--red;
		}
	}
	.cta {
		@include outer-container;
		margin-bottom: 50px;
		a {
			@include span-columns(12);
			background: $color--red;
			color: white;
			text-align: center;
			border-radius: 6px;
			padding: .75em 1em;
			&.disabled {
				background: $color--darkgrey; 
			}
		}
	}
}

.festival form input[type="submit"] {
	padding: 1em;
	float: left;
	width: 50%;
	margin-left: 25%;
}