{% extends "templates/partials/base.html" %}
{% set item = get('about') %}
{% set team = cms.team %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <div class="about">
    <article>
      <img src="/static/images/page--headers/about.jpg">
      {{ item.about|safe }} 
    </article>
    <div class="team">
      <ul>
        {% for object in team %}
          <li>
            <a href="{{ url(object) }}">
              <img class="profile" src="{{ object.picture|imageSize(400) }}" />
              <h2 class="name">{{ object.name }}</h2>
              <h3 class="role">{{ object.role }}</h3>
              <span class="read-more">Read More</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <ul class="board">
        <li>
          <h2 class="name">Emma Mulqueeny</h2>
          <h3 class="role">Founder & Board Member</h3>
        </li>
        <li>
          <h2 class="name">Annika Small</h2>
          <h3 class="role">Board Member</h3>
        </li>
        <li>
          <h2 class="name">Bill Liao</h2>
          <h3 class="role">Board Member</h3>
        </li>
        <li>
          <h2 class="name">Martha Lane Fox</h2>
          <h3 class="role">Ambassador</h3>
        </li>
        <li>
          <h2 class="name">Ian Livingstone</h2>
          <h3 class="role">Ambassador</h3>
        </li>
        <li>
          <h2 class="name">Kathryn Parsons</h2>
          <h3 class="role">Ambassador</h3>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
