{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Ambassadors{% endblock %}
{% block content %}
  
  <div class="scheme festival wrapper">
    
    <h1 class="title">Ambassadors</h1>


    <div class="copy">
    <img src="/static/images/ambassadors.jpg">
    	<p>Here at YRS, we realise that you guys - our awesome community - are the biggest and best part of what we do. That’s why we want to recognise some of our most passionate and enthusiastic members by calling you up to be part of the team as our YRS Ambassadors! </p>

        <p>Our Ambassadors will get to take their involvement with YRS to the next level! They will be the first to find out what we’re up to, get the chance to come with us to events, and give us their thoughts on how we can make our projects even more awesome! You’ve given us so much since we launched in 2009, so now we want to give a little back by offering you the chance to shape the future of YRS. </p>

        <p>We’ll be launching the programme later in 2015, but right now we want to see who’s interested… Favourite <a href="https://twitter.com/youngrewired/status/561202289646784512">this</a> tweet and like <a href="https://www.facebook.com/youngrewired/posts/715757028522009">this</a> Facebook status to let us know that you want to be a YRS Ambassador.</p>
    </div>

  </div>

{% endblock %}
