{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Ambassadors{% endblock %}
{% block content %}
  
  <div class="scheme festival wrapper">
    
    <h1 class="title">Ambassadors</h1>


    <div class="copy">
    	<div class="image-row">
    		<img src="/static/images/ambassadors.jpg">
		    <img src="/static/images/ambassadors-2.jpg">
		    <img src="/static/images/ambassadors-3.jpg">
    	</div>
    	<p>
    		Here at YRS, we realise that you guys - our awesome young digital maker and mentor communities - are the biggest and best part of what we do. That’s why we want to recognise some of our most passionate and enthusiastic members by calling you up to be part of the team as our YRS Ambassadors!
    	</p>
		<p>
			Our Ambassadors will get to take their involvement with YRS to the next level! They will be the first to find out what we’re up to, get the chance to come with us to events, and give us their thoughts on how we can make our projects even more awesome! You’ve given us so much since we launched in 2009, so now we want to give a little back by offering you the chance to shape the future of YRS.
		</p>
    	<p>
            Ambassadors will help us broaden our reach at technology, school and family events across the UK in return for exclusive opportunities, an awesome YRS Ambassador tshirt and swag to giveaway and even a swanky new @yrs.io email address. With digital skills so important, and topping everyone's agenda from the BBC to Martha Lane Fox in 2015, becoming a YRS Ambassador is a perfect way to show your commitment to the cause. 
        </p>
        <p>
            As a young Ambassador you will help grow the YRS community in your school, neighbouring schools and through extra-curricular and online channels. You will also be given the opportunity of work experience with us or one of our partners, and support from Team YRS for your own projects. 
        </p>
        <p>
            Adult Ambassadors will similarly help us broaden our reach, combining your networks with ours to create a strong and sustainable digital maker community for both adults and young people in your region - much like our Hyperlocal centre leads are already beginning to do. Our partnerships with different cultural, political and technology organisations, as well as our sister company Rewired State, offers you the opportunity for professional and personal development.  
   
        </p>
		<p>
			It won’t even take up much of your time! We reckon being a YRS Ambassador will take about an hour a week and your term will last roughly six months. If you’re interested, fill in the form below before 12:00 on April 12th 2015. We’re looking for two young (one male, one female) and one adult YRS Ambassador for each of the 12 regions of the UK. Good luck!
		</p>
		<form action="https://docs.google.com/a/rewiredstate.org/forms/d/1-ZOIBXOMd56kMWlNEJ7lQJZaho6c2tDzcBrwLfp8sJw/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_391281024"><div class="ss-q-title">First Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.391281024" value="" class="ss-q-short" id="entry_391281024" dir="auto" aria-label="First Name  " aria-required="true" required="" title="">
<div class="error-message" id="814011503_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_815037413"><div class="ss-q-title">Last Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.815037413" value="" class="ss-q-short" id="entry_815037413" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">
<div class="error-message" id="9959462_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_590310155"><div class="ss-q-title">Email Address
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.590310155" value="" class="ss-q-short" id="entry_590310155" dir="auto" aria-label="Email Address  " aria-required="true" required="" title="">
<div class="error-message" id="1442880712_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_340875241"><div class="ss-q-title">Phone Number
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.340875241" value="" class="ss-q-short" id="entry_340875241" dir="auto" aria-label="Phone Number  " aria-required="true" required="" title="">
<div class="error-message" id="1682748437_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1143506499"><div class="ss-q-title">Which age group are you in?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Which age group are you in?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.74571932" value="Under 14" id="group_74571932_1" role="radio" class="ss-q-radio" aria-label="Under 14" required="" aria-required="true"></span>
<span class="ss-choice-label">Under 14</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.74571932" value="14 - 18" id="group_74571932_2" role="radio" class="ss-q-radio" aria-label="14 - 18" required="" aria-required="true"></span>
<span class="ss-choice-label">14 - 18</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.74571932" value="Over 18" id="group_74571932_3" role="radio" class="ss-q-radio" aria-label="Over 18" required="" aria-required="true"></span>
<span class="ss-choice-label">Over 18</span>
</label></li></ul>
<div class="error-message" id="1143506499_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2104871150"><div class="ss-q-title">Which previous Young Rewired State events have you attended?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices ss-choices-required" role="group" aria-label="Which previous Young Rewired State events have you attended?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="Young Rewired State 2009" id="group_1200973512_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Young Rewired State 2009</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="Young Rewired State 2010" id="group_1200973512_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Young Rewired State 2010</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="Young Rewired State 2011" id="group_1200973512_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Young Rewired State 2011</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="Festival of Code 2012" id="group_1200973512_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Festival of Code 2012</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS Scotland 2012" id="group_1200973512_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS Scotland 2012</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="Festival of Code 2013" id="group_1200973512_6" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Festival of Code 2013</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS New York 2013" id="group_1200973512_7" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS New York 2013</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS Berlin 2013" id="group_1200973512_8" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS Berlin 2013</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS San Francisco 2013" id="group_1200973512_9" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS San Francisco 2013</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS Singapore 2014" id="group_1200973512_10" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS Singapore 2014</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="Festival of Code 2014" id="group_1200973512_11" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">Festival of Code 2014</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS Kosovo 2014" id="group_1200973512_12" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS Kosovo 2014</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="YRS Berlin 2014" id="group_1200973512_13" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">YRS Berlin 2014</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1200973512" value="__other_option__" id="group_1200973512_14" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
<span class="ss-choice-label">Other:</span></label>
<span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.1200973512.other_option_response" value="" class="ss-q-other" id="entry_1200973512_other_option_response" dir="auto" aria-label="Other"></span>
</li></ul>
<div class="error-message" id="2104871150_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1942206373"><div class="ss-q-title">In which region of the UK do you wish to act as a YRS ambassador?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.1942206373" id="entry_1942206373" aria-label="In which region of the UK do you wish to act as a YRS ambassador?  " aria-required="true" required=""><option value=""></option>
<option value="Scotland">Scotland</option> <option value="Wales">Wales</option> <option value="Northern Ireland">Northern Ireland</option> <option value="North East England">North East England</option> <option value="North West England">North West England</option> <option value="Yorkshire and the Humber">Yorkshire and the Humber</option> <option value="West Midlands">West Midlands</option> <option value="East Midlands">East Midlands</option> <option value="East of England">East of England</option> <option value="London">London</option> <option value="South East England">South East England</option> <option value="South West England">South West England</option></select>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_477590968"><div class="ss-q-title">What is your favourite memory from a YRS event? (Limit: 400 Characters)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.477590968" rows="8" cols="0" class="ss-q-long" id="entry_477590968" dir="auto" aria-label="What is your favourite memory from a YRS event?  Must be fewer than 400 characters." aria-required="true" required=""></textarea>
<div class="error-message" id="564175610_errorMessage">Must be fewer than 400 characters.</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2043717099"><div class="ss-q-title">What is the coolest thing you&#39;ve ever built? (Limit: 400 Characters)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.2043717099" rows="8" cols="0" class="ss-q-long" id="entry_2043717099" dir="auto" aria-label="What is the coolest thing you&#39;ve ever built?  Must be fewer than 400 characters." aria-required="true" required=""></textarea>
<div class="error-message" id="483662823_errorMessage">Must be fewer than 400 characters.</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1581541694"><div class="ss-q-title">Why do you think it&#39;s important for young people to know about coding and try it out? (Limit: 400 Characters)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1581541694" rows="8" cols="0" class="ss-q-long" id="entry_1581541694" dir="auto" aria-label="Why do you think it&#39;s important for young people to know about coding and try it out?  Must be fewer than 400 characters." aria-required="true" required=""></textarea>
<div class="error-message" id="1998711292_errorMessage">Must be fewer than 400 characters.</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1958875202"><div class="ss-q-title">Why do you want to be a YRS ambassador in your region? (Limit: 600 Characters)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1958875202" rows="8" cols="0" class="ss-q-long" id="entry_1958875202" dir="auto" aria-label="Why do you want to be a YRS ambassador in your region?  Must be fewer than 600 characters." aria-required="true" required=""></textarea>
<div class="error-message" id="407541430_errorMessage">Must be fewer than 600 characters.</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_896377168"><div class="ss-q-title">Why do you think you would make a good YRS ambassador for your region? (Limit: 600 Characters)
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.896377168" rows="8" cols="0" class="ss-q-long" id="entry_896377168" dir="auto" aria-label="Why do you think you would make a good YRS ambassador for your region?  Must be fewer than 600 characters." aria-required="true" required=""></textarea>
<div class="error-message" id="2063184866_errorMessage">Must be fewer than 600 characters.</div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;7095283885306186111&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="7095283885306186111">

<div class="ss-item ss-navigate">

	<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
				
</div>
</ol>
</form>

    </div>

  </div>

{% endblock %}
