{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Contact{% endblock %}
{% block content %}

  <div class="contact">

    <h1 class="title">Contact</h1>

    <div class="left">
        <h2>Email us</h2>
        <a href="mailto:hello@youngrewiredstate.org" class="email">hello@youngrewiredstate.org</a>
        <h2 class="company">Company Information</h2>
        <p>
            Young Rewired State Ltd is a company limited by guarantee. Our company number is 9339287, registered in England and Wales.
        </p>
    </div>
    <div class="right">
        <ul>
            <li><a href="http://twitter.com/youngrewired">Twitter</a></li>
            <li><a href="http://youtube.com/youngrewired">Youtube</a></li>
            <li><a href="http://instagram.com/youngrewired">Instagram</a></li>
            <li><a href="http://vine.co/youngrewired">Vine</a></li>
        </ul>
    </div>

  </div>

{% endblock %}
