{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Everywhere{% endblock %}
{% block content %}
  
  <div class="scheme everywhere wrapper">
    
    <h1 class="title">Everywhere</h1>

    <div class="copy">
    	<p>In 2013 we launched our programme to take YRS events outside of the UK: ‘YRS Everywhere’. To date, we’ve held weekend events in New York City, San Francisco, Berlin, Kosovo and Singapore, each with our ‘founding 50’ young coders in the region!</p>
    	<img src="/static/images/everywhere.jpg">
        <p>The fantastic thing about working in the digital space is that geographical boundaries just don’t matter! This enables us to form a truly global network of young coders, one event at a time. During all of our events we encourage our entire community, wherever they are, to participate online by sharing skills with the young coders taking part on our protected forums or on Twitter/</p>
        <p>Additionally, attendees of YRS Everywhere events are invited to participate in our annual Festival of Code in the UK. They can either fly over to the residential ‘international centre’ for the week, and build projects with other young coders from around the world, or they can participate remotely from their home country. This scheme was piloted at the Festival of Code 2014 and resulted in the ‘Best Example of Code’ prize being won by a team from Germany, and the popular ‘people’s vote’ prize being won by a team participating remotely from Kosovo!</p>
    </div>
    <div class="cta">
    	<a href="https://docs.google.com/forms/d/1IDsLNB_LGGh7nt50ylmOwsD5jKNAcl6U0oSjzfi3SsY/viewform?usp=send_form">Register your interest </a>
    </div>

  </div>

{% endblock %}
