{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Festival of Code{% endblock %}
{% block content %}
  
  <div class="scheme festival">
    
    <h1 class="title">Festival of Code</h1>

    <div class="copy">
    	<p>
         Every August Young Rewired State runs the largest annual hack event in the world! The ‘Festival of Code’ is a week in the summer holiday which sees over 1200 young people gather all across the UK to prototype digital solutions and culminates in a single Festival weekend. 
        </p>
    	<img src="/static/images/festival-of-code.jpg">
        <p>
            From Monday to Friday the young coders attend a volunteer local centre to team up and build digital solutions to real-world problems using open data. They get the opportunity to develop their skills with the assistance of expert mentors and connect with technologists and businesses in their local area. And it's not just the participants who benefit as we encourage them to apply their digital skills to benefit their communities!
        
        </p>
        <p>
            All Festival participants then travel to the finale Festival weekend to present their projects to parents, mentors, press, industry and expert judges.By demonstrating what they are capable of we hope to validate their skills and inspire the next generation. We also want to help organisations to recognise and discover young people pushing the boundaries of digital making. The Festival weekend is the exciting culmination of their hard work where they get to meet like minded peers, build new friendships and eat their body weight in pizza!   
        </p>
    </div>
    <div class="cta">
    	<a class="disabled"> We're launching the Festival website and signups at the end of January 2015.</a>
    </div>

  </div>

{% endblock %}
