{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Hyperlocal{% endblock %}
{% block content %}
  
  <div class="scheme hyperlocal wrapper">
    
    <h1 class="title">Hyperlocal</h1>

    <div class="copy">
        <p>Since 2009, we’ve met up once a year at our Festival of Code to create websites, apps, games, hardware hacks and algorithms. Now, we’re upping our game, and making it our mission to continue to find, nurture and support the next generation of tech talent all year round.</p>
        <img src="/static/images/hyperlocal.jpg">
        <p>Hyperlocal is supported by American Express, and provides the chance for our community to continue to grow and keep connected between Festivals. Hyperlocal provides chances to meet up in the UK and beyond - either in person at a volunteer-led centres, or in our digital centre right here online.</p>
        <p>As part of Hyperlocal, young digital makers are given the tools, resources and confidence to continue to explore the amazing potential locked inside their digital skills, while local tech communities are able to connect with and mentor the future stars of tomorrow.</p>
    </div>
    <div class="cta">
        <a href="http://hl.yrs.io"> Visit our Hyperlocal platform now!</a>
    </div>

  </div>

{% endblock %}
