{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Contact{% endblock %}
{% block content %}
  
  <div class="jobs wrapper">
    
    <h1 class="title">Jobs</h1>

    <div class="copy">
        <h2>Project Manager</h2>
        <h3>Birmingham or London &bull; 12 month &bull; up to £27,000</h3>
        <p>
            We’re looking for a project manager to coordinate and deliver a youth development and engagement project for a collaboration between Young Rewired State and a client organisation (the partnership is yet to be announced).
        </p>
        <small>Send your CV and Cover Letter to <a href="mailto:ruth@rewiredstate.org">ruth@rewiredstate.org</a> by Wednesday 4<sup>th</sup> February 2015</small>
        <a href="/static/jobs/project-manager-feb-15.pdf" class="button">Download full job description</a>
    </div>

  </div>

{% endblock %}
