{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Upload Live!{% endblock %}
{% block content %}
  
  <div class="scheme festival upload wrapper">
    
    <h1 class="title">Upload:Live!</h1>

    <div class="copy">
        <img src="/static/images/upload-live.png">
        <p>
            If you're London-based and can't quite wait for the Festival if Code then we've got just the thing for you!
        </p>
        <p>

            'Upload:Live!' is a digital Festival taking place in a Canary Wharf sky scraper on the 21st February and we've been invited to be a part of it. It also happens to be International Open Data day, and that's why we're inviting you to spend it hacking some exciting new data sets and showing off your digital skills!
        </p>
        <p>
            So here's the challenge... we want you to find digital ways to make London attractions more exciting for young visitors. In your hack you must use at least one of the following data sets:
        </p>
        <ul>
            <li>The Natural History Museum</li>
            <li>The Science Museum</li>
            <li>The Victoria and Albert Museum</li>
            <li>The British Museum</li>
            <li>London Zoo</li>
        </ul>
        <p>
            In addition you can of course use any other type of data set to bring your project to life - this could be Google maps, Google images, Twitter etc.
        </p>
    </div>
    <h2 class="register">Registrations have now closed</h2>
  </div>

{% endblock %}
