.get-started {
	@include outer-container;
	h1 {
		font-weight: 600;
		&.title {
			font-weight: 800;
		}
		&#the-todo-list-project {
			margin-top: 2em;
		}
	}
	a {
		color: $color--red;
	}
	p {
		margin-bottom: 1em;
	}
	p + ol {
		margin-top: 2em;
	}
	ol {
		-webkit-padding-start: 25px;
		li {
			margin-bottom: 2em;
		}
	}
	em.note {
		background: $color--lightgrey;
		color: $color--darkgrey;
		display: block;
		padding: 1em 1.5em;
		border-radius: 6px;
		margin-top: 1em;
	}
	pre {
		margin-top: 2em;
		color: #444;
		margin-bottom: 2.5em;
	}
	p.try-this {
		@extend em.note;
		background: $color--red; 
		color: white;
	}
	h2 {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	img {
		width: 100%;
		border-radius: 6px;
	}
	ul {
		-webkit-padding-start: 25px;
	}
	ul li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 50px;
		}
	}
	@media screen and (max-width: 900px) {
		width: 90vw;
		padding-left: 5vw;
		padding-right: 5vw;
	}
}