.get-started {
	@include outer-container;
	h1 {
		font-weight: 600;
		&.title {
			font-weight: 800;
		}
		&.section {
			background: $color--red;
			color: white;
			padding: .5em;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
			border-radius: 6px;
			margin-top: 1em;
			@media screen and (max-width:900px) {
				font-size: 1.25em;
			}
		}
	}
	a {
		color: $color--red;
	}
	p {
		margin-bottom: 1em;
	}
	p + ol {
		margin-top: 2em;
	}
	ol {
		-webkit-padding-start: 25px;
		margin-top: 2.5em;
		li {
			margin-bottom: 2em;
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	em.note {
		color: $color--darkgrey;
		display: block;
		margin-top: 1em;
	}
	pre {
		margin-top: 2em;
		margin-bottom: 2em;
		background: $color--lightgrey;
		color: $color--darkgrey;
		padding-top: 2em;
		padding-bottom: 1em;
		border-radius: 6px; 
	}
	p.try-this {
		padding: 1em 1.25em;
		background: $color--blue; 
		color: white;
		border-radius: 6px;
	}
	h2 {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	img {
		width: 100%;
		border-radius: 6px;
	}
	ul {
		-webkit-padding-start: 25px;
	}
	ul li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 50px;
		}
	}
	@media screen and (max-width: 900px) {
		width: 90vw;
		padding-left: 5vw;
		padding-right: 5vw;
	}
}