@media screen and (max-width: 900px) {
	.home {
		.ruby-eyes {
			img {
				@include span-columns(10);
				@include shift(1);
			}
		}
		.mailchimp {
			input[type="email"],
			input[type="submit"],
			h2 {
				@include span-columns(10);
				@include shift(1);
			}
			h2 {
				font-size: 1em;
			}
			input[type="email"] {
				margin-bottom: 1em;
				text-align: center;
			}
		}
		ul.values li {
			.box {
				@include span-columns(12);
				@include shift(0);
			}
			&:nth-child(2n + 1) .box {
				@include shift(0);
			}
		}
		.twitter #yrs-twitter {
			padding: 0 1em;
		}
	}
}